html,
body {
  padding: 0;
  margin: 0;
  height:100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar{
  width:17px;
}
::-webkit-scrollbar-track{
  background:#202020;
  
}
::-webkit-scrollbar-thumb{
  border-radius:8px;
  background:#8880;
  border-right: 4px #202020 solid;
  border-left: 4px #202020 solid;
  background-clip: padding-box;
}
.drawer:hover > ::-webkit-scrollbar-thumb{
  background:#888;
}